.actu-container img {
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .actu-index-container {
    padding: 50px;
    background: url('../images/cabinet-background.svg');
    background-size: cover;
    background-position: center;
    height: auto;
    h1 {
      color: $main-color;
    } img {
      width: 50px;
    }
  }
  
  
  
  
  // test
  
  .date {
    font-size: 45px;
  }
  
  .date-border {
    border-left: 2px solid $main-color;
  }
  
  .article-border {
    margin-bottom: 60px;
  } img{
    width: 30px;
    height: 30px;
  } h2 {
    margin-top: 0;
  } p{
    letter-spacing: 1px;
    line-height: 25px;
  }
  
  .year {
    font-size: 20px;
    color: $main-color;
  }
  
  //test
  .textes-container {
    background-image: url('../images/quote.svg');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(130px - 0);;
    right: 0;
  }
  
  .container-margin {
    margin: 70px auto;
    padding: 50px 15px;
    background-color: #002fa7;
  background-image: url('../images/cabinet-background.svg');
  background-attachment: fixed;
  background-size: cover;
    border-radius: 15px;
    h1 {
      color: white;
      text-align: center;
    } label {
      color: white;
      margin-top: 20px;
    }
  }
  
  .link-form {
    color: white;
    cursor: pointer;
  }
  
  .link-form:hover {
    color: white;
    opacity: 0.3;
  }
  
  .btn-margin {
    margin-bottom: 20px;
  }
  
  #equipe_photo {
    color: white;
  }