<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="">
                    <h3 class="footer-heading text-uppercase text-white">Navigation</h3>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Accueil</a>      </li>
                        <li><a href="">Expertise</a></li>
                        <li><a href="">Equipe</a></li>
                        <li><a href="">Actualités</a></li>
                        <li><a href="">Admin</a></li>
                    </ul>
                </div>
            </div>

 <div class="col-lg-4">
                <div class="">
                    <h3 class="footer-heading text-uppercase text-white">Informations</h3>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Mentions légales</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h3 class="footer-heading text-uppercase text-white">Contact</h3>
                    <p class="contact-info mt-4">N'hésitez pas à nous contacter pour toutes informations.</p>
                    <p class="contact-info">Tél: 01 45 45 45 45</p>
                    <p class="contact-info">E-mail: contact@107universites.com</p>


                </div>
            </div>

        </div>
    </div>
      <hr class="style-one">
    <div class="mt-5">
        <p class="footer-alt mb-0 f-14">2019 © 107universités, Tous droits réservés</p>
    </div>
</footer>
