{% load static %}
<div class="nav-bar-container">
        <div class="logo-container">
         <a href="/" ><img src="{% static 'vitrine/images/logo.svg' %}" id="logo" alt=""></a>
     
       </div>
     
     
         <div class="link-primary">
             <ul class="nav navbar-nav hidden-xs hidden-sm">
               <li> <a href="{% url 'home' %}">Accueil</a></li>
                 <li><a href="{% url 'equipe' %}">L'Equipe</a></li>
                     <li><a href="{% url 'home' %}">Domaines d'expertise</a></li>
                     <li><a href="{% url 'actualites' %}">Actualités</a></li>
                     <li><a href="{% url 'contact' %}">Contact</a></li>
     
             </ul>
     
       <div class="hamburger hidden-md  hidden-lg btn-open" id="hamburger-12">
               <span class="line"></span>
               <span class="line"></span>
               <span class="line"></span>
               <span class="letter">MENU</span>
             </div>
     
     </div>
     
     <div class="overlay">
       <div class="wrap">
         <ul class="wrap-nav">
           <ul>
              <li> <a href="{% url 'home' %}">Accueil</a></li>
              <li><a href="{% url 'equipe' %}">L'Equipe</a></li>
                  <li><a href="{% url 'home' %}">Domaines d'expertise</a></li>
                  <li><a href="{% url 'actualites' %}">Actualités</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
           </ul>
           </li>
         </ul>
       </div>
     </div>
     </div>

