<div class="nav-bar-container">
        <div class="logo-container">
         <a href="/" >Logo</a>
     
       </div>
     
     
         <div class="link-primary">
             <ul class="nav navbar-nav hidden-xs hidden-sm">
               <li>Accueil</li>
                 <li>Equipe</li>
                     <li>Expertise</li>
                     <li>News</li>
                     <li>Contact</li>
     
             </ul>
     
       <div class="hamburger hidden-md  hidden-lg btn-open" id="hamburger-12">
               <span class="line"></span>
               <span class="line"></span>
               <span class="line"></span>
               <span class="letter">MENU</span>
             </div>
     
     </div>
     
     <div class="overlay">
       <div class="wrap">
         <ul class="wrap-nav">
           <ul>
                <li>Accueil</li>
                <li>Equipe</li>
                    <li>Expertise</li>
                    <li>News</li>
                    <li>Contact</li>
           </ul>
           </li>
         </ul>
       </div>
     </div>
     </div>